body {
  font-family: 'Montserrat', sans-serif;
}

pre, code {
  font-family: Hack, monospace;
  background-color: lightgrey;
  color: black;
}

p {
  margin: 0;
}



/* Title */
#title {
  text-align: center;
}

/* Navigation bar */
.navbar-box {
  padding: 2% 5%!important;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.search-input {
  margin: 0 30%;
}

.search-button {
  margin: 0 4px;
}


/* Contents */

#contents {
  padding: 3% 5%
}

.carousel-item {
  height: 400px;
  background-color: lightgrey;
}

.hash-tag {
  color: green;
  word-spacing: 0.5rem;
}

.heart-icon {
  color: orange;
  word-spacing: normal;
}


/* Footer Section */
#footer {
  padding: 1% 15%;
  text-align: center;
}
